.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.825rem;
    width: 900px;
}
.card {
    color: #242424;
    width: 16.75rem;
    height: 25.85rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
    overflow: hidden;
    background-color: #e8fff5;
    box-shadow: 0 0 0.625rem rgba(211, 211, 211, 0.1);
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 0 0 0.625rem rgba(211, 211, 211, 0.5);
    transform: scale(1.01);
}
.card img {
  width: 100%;
  height: 16.875rem;
}

img {
    object-fit: fill;
}

.card-container {
    padding: 1.25rem;
}

.price-container {
  position: absolute;
  bottom: 0.938rem;
  left: auto;
  font-size: 1.563rem;
}

.price {
    font-weight: bold;
    margin: 0;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 0.625rem;
}

.new-price {
  color: green;
}

.not-found {
  color: #fff6f6;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 25px auto;
}

@media (max-width: 480px) {
  .cards {
    justify-content: center; 
    margin: 0;
  }
  .card {
    width: 130px; 
    height: 200px;
    margin-bottom: 15px;
  }
  .card img {
  width: 100%;
  height: 120px;
}

  .card-container {
    padding: 0;
  }

  .price-container {
    bottom: 0.5rem;
    font-size: 0.8rem;
  }

  .text-container {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    max-height: 2.8em; 
}
}