.header{
  position: sticky;
  top: 0;
  width: 100%;
  color: #fff;
  padding: 20px 0;
  background-color: #003C43;
  font-size: large;
  font-weight: 700;
  margin: 0;
  z-index: 10;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.49);
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  

  width: min(90%, 800px);
  margin: 0 auto;
}

.nav-ul {
  display: flex;
  gap: 1rem;
}

li {
  list-style: none;
}

.nav-li {
  position: relative;
}

.nav-link {
  color:#fff;
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff; 
  transition: width 0.3s;
}
.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: #fff; 
  transition: width 0.3s;
}

.nav-link.active:hover::after {
  width: 50%;
}

.nav-link:hover::after {
  width: 100%;
}