.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 45px;
}

.pagination-next, 
.pagination-previous,
.pagination-link {
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding: 0.45em 0.75em;
    white-space: nowrap;
}

.pagination-previous, 
.pagination-next, 
.pagination-link {
  min-width: 2.5em;
  outline: none;
  text-decoration: none;
  text-align: center;
  color: #ccc;
  background: #003C43;
  border-radius: 0.375rem;
  border: 1px solid #0b4e55;
  transition: background-color .4s;
  box-shadow:  0 .0625em .125em hsla(0, 0%, 20%, 0.05);
}


.pagination-next:hover, 
.pagination-previous:hover,
.pagination-link:hover {
  background-color: #00535c;
  border-color: #0b4e55;
}
.pagination-list {
  display: flex;
  justify-content: center;
  gap: 12px
}
